{% extends "base.html" %}

{% block content %}

<div style="margin-block: 30vh;" >
    <h1 id="Title" >PIK</h1>
    <div>
        <p>Payments app</p>
    </div>
</div>

{%- set content_directories = get_section(path="_index.md") -%}

{% for directory in content_directories.subsections %}
    <div>
        {%- set content_section = get_section(path=directory) -%}

        <h2>{{ content_section.title }}</h2>
       
        <div style="max-width: 66ch;
            margin-inline: auto;
            margin-block-end: 5vh;
            text-align: justify;">
            {{ content_section.content | safe }} 
        </div>

        {% for page in content_section.pages %}

            <div>
                {{ page.title }}
            </div>

        {% endfor %}
    </div>
{% endfor %}

{% endblock %}
